---
import Layout from '../layouts/Layout.astro';
const title = "Contato"
const subtitle = "Venha visitar!"
---
<Layout title="Welcome to Astro.">
	<main>
        <div style="height: 400px; background-color: rgba(0,0,255,.1) shadow ">
            <img src="images/fundo_pinda.jpg" style="width: 100%; height: 400px; object-fit: cover;"  alt=""/>
        </div>
        <!-- <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">{title}</span>
                            <span class="d-block text-dark">{subtitle}</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="images/nova-gokula-e1518553634200.webp" class="header-image img-fluid" alt="">
        </header> -->

        <section class="contact my-5 _section-padding">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12">
                        <h2 class="mb-4">Atrativos</h2>

                        <p>Desfrute de uma qualidade de vida única em meio a natureza, no pé da Serra da Mantiqueira. Retiro espirituais, Caminhadas eológicas, Teraias ayurvédicas, Restaurantes, Lojas com artigos indianos e outros</p>
                    </div>

                </div>
            </div>
        </section>
    </main>
</Layout>