---
import Layout from '../layouts/Layout.astro';
const title = "Contato"
const subtitle = "Venha visitar!"
---
<Layout title="Welcome to Astro.">
	<main>
        <div style="height: 400px; background-color: rgba(0,0,255,.1) shadow ">
            <img src="images/fundo_pinda.jpg" style="width: 100%; height: 400px; object-fit: cover;"  alt=""/>
        </div>
        <!-- <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">{title}</span>
                            <span class="d-block text-dark">{subtitle}</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="images/nova-gokula-e1518553634200.webp" class="header-image img-fluid" alt="">
        </header> -->

        <section class="contact my-5 _section-padding">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12">
                        <h2 class="mb-4">Hospedagem</h2>
                        <p>Seja bem-vindo a Central de Reservas de Nova Gokula. <br/><br/>Consulte nossas opções de hospedagem, escolha a que melhor lhe agradar e nos informe através do e-mail reservas@novagokula.com.br ou pelo whatsapp (12) 99680-1318.
                            <br/><br/>Obs: não há sinal de celular na área da fazenda.</p>
                    </div>

                </div>
            </div>
        </section>
    </main>
</Layout>