---
import Layout from '../layouts/Layout.astro';
import Cardgrid from '../components/Cardgrid.jsx'
import Slideshow from '../components/Slideshow.jsx'
import Doubleside from '../components/Doubleside';
  
const eventos = [
  {
    id: 1,
    title: 'Holi Festival',
    body: 'Para todos!!',
    href: '#',
    imageSrc: '/images/eventos/holi.jpeg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 2,
    title: 'Festival de domingo',
    body: 'Evento2',
    href: '#',
    imageSrc: '/images/eventos/festivaldedomingo.jpeg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 3,
    title: 'Yoga na Confraria Vegana',
    body: 'sdjfh djfhsdjkf hsdkjf hsdkjfhsdfkjdsh fkjdsfh dkj',
    href: '#',
	imageSrc: '/images/eventos/magayoga.jpeg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  }
]

const pratos = [
  {
    id: 1,
    title: 'prato1',
    body: 'sdjfh djfhsdjkf hsdkjf hsdkjfhsdfkjdsh fkjdsfh dkj',
    href: '#',
    imageSrc: 'https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 2,
    title: 'prato2',
    body: 'sdjfh djfhsdjkf hsdkjf hsdkjfhsdfkjdsh fkjdsfh dkj',
    href: '#',
    imageSrc: 'https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 3,
    title: 'prato3',
    body: 'sdjfh djfhsdjkf hsdkjf hsdkjfhsdfkjdsh fkjdsfh dkj',
    href: '#',
    imageSrc: 'https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  }
]

const slideshowItems = [
	{title: 'Foto2', body: '...', img: 'images/slideshow/slide-4.jpg'},
  {title: 'Foto3', body: '...', img: 'images/slideshow/slide-3.jpg'},
	{title: 'Foto1', body: '...',img: 'images/slideshow/slide-1.jpg'},
  ]
---
<style>
  h1 {
    font-family: 'Crimson Pro', serif;
    font-size: 48px;
  }
  .h2 {
    font-family: 'Crimson Pro', serif;
    font-size: 10px;
  }

  .tipo1 {
    font-family: Georgia, serif !important;
    font-size: 30px !important;
  }
</style>
<Layout title="Nova Gokula">
	<main>
		<Slideshow items={slideshowItems} />
    <div class="mx-3">
      <section class="mb-4">
        <div class="container mt-5">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4 class="text-secondary">Seja bem vindo ao nosso site!</h4>
                <p>Nova Gokula é um recanto natural que oferece a seus visitantes uma variedade de vivências baseadas no princípio de uma vida simples, natural e saudável. Venha nos visitar!</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4 class="text-secondary ">Doações para nossos projetos</h4>
                <p>
                  Participe você também de nossos projetos que promevem a conciência espiritual e a educação hambiental</p>
                <div class="text-center"><button type="button" class="btn btn-success btn-lg">Quero doar</button></div>
                <!-- </blockquote> -->
              </div>
          </div>
          <div class="row mb-5"></div>
          <div class="row" style="background-color: #DDD8CB ">
          <div class="container" > 
              <div class="row">
                <!-- <div class="mr-3"> -->
                  <div class="col-md-2 p-2">
                    <img class="rounded img-fluid" src="/images/Prabhupada-1.jpg" _style="width: 180px; ">
                  </div>
                  <div class="col-md-10">
                    <p class="tipo1 mb-0">Sobre o Acharya-fundador</p>
                    <p class="text-secondary">Autor de mais de sessenta volumes de traduções e estudos sobre os clássicos
                      da India, A.C. Bhaktivedanta Swami Prabhupada, acharya-fundador da
                      Sociedade Internacional para a Consciência de Krishna, foi o maior difusor da
                      sabedoria de bhakti-yoga da história, tendo viajado o equivalente a doze
                      voltas ao mundo ensinando a variados públicos o conhecimento do
                      Bhagavad-gita e obras similares.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mx-4">
        <div class="text-center my-4">
          <h4 class="text-secondary">Próximos eventos</h4>
        </div>
        <div class="card-group" >
          {eventos.map(item=>(
            <Cardgrid item={item}/>)
          )}
        </div>
      </section>

      <!-- <Doubleside type=1 title="Entenda mais sobre veganismo" img="images/retail-shop-owner-mask-social-distancing-shopping.jpg">
        Teste teste teste
      </Doubleside>

      <Doubleside type=2 title="Entenda mais sobre veganismo" img="images/retail-shop-owner-mask-social-distancing-shopping.jpg">
        d sad sd sadasdsad
      </Doubleside> -->

      <!-- <section>
        <div class="text-center m-4">
          <h2>Nossos pratos</h2>
        </div>
        <div class="card-group" style="max-width: 90%;float: none; margin: 0 auto;">
          {pratos.map(item=>(
            <Cardgrid item={item}/>)
          )}
        </div>
      </section> -->
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.845862232867!2d-45.46752338949647!3d-22.77110083294911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc8dd6afbebb7d%3A0xf483b2816174680a!2sEspa%C3%A7o%20Cultural%20e%20Restaurante%20Confraria%20Vegana!5e0!3m2!1spt-BR!2sbr!4v1684284549318!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      
      <section class="m-4">
        <div class="text-center my-4">
          <h4 class=" text-secondary">Onde estamos</h4>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.845862232867!2d-45.46752338949647!3d-22.77110083294911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc8dd6afbebb7d%3A0xf483b2816174680a!2sEspa%C3%A7o%20Cultural%20e%20Restaurante%20Confraria%20Vegana!5e0!3m2!1spt-BR!2sbr!4v1684284549318!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </section>
      
      
    </div>		
		
		<br/><br/>
	</main>
</Layout>

