---
import Layout from '../layouts/Layout.astro';
import Pratos from '../components/Pratos.jsx' 
import { log } from 'astro/dist/core/logger/core';
const pratos = [
  {
    id: 1,
    title: 'Grão de bico, legumes e curry',
    body: 'Esta criação culinária excepcional é uma mistura perfeita de sabores exóticos e texturas deliciosas, projetada para encantar até mesmo os paladares mais exigentes. Com uma base de curry aromático e repleto de ingredientes frescos, este prato vegano é uma explosão de cores, nutrientes e satisfação.',
    href: '#',
    imageSrc: '/images/pratos/grao-de-bico-legumes-e-curry-na-panela-de-pressao-9231.jpg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 2,
    title: 'Dall de ervilha, arroz e batata rústica',
    body: 'Apresentamos o nosso prato vegano estrela: Arroz com Batata Rústica e Dal de Ervilha. Com arroz cozido perfeitamente, batatas rústicas crocantes e um dal cremoso de ervilha, essa combinação deliciosa oferece uma experiência gastronômica única. Utilizando ingredientes frescos e técnicas culinárias refinadas, cada garfada proporciona uma explosão de sabores e uma refeição vegana nutritiva e saborosa. Junte-se a nós e experimente essa delícia vegana em nosso restaurante.',
    href: '#',
    imageSrc: '/images/pratos/prato2.jpeg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  },
  {
    id: 3,
    title: 'Torta Banof Vegana: Uma Delícia Cremosa e Irresistível',
    body: 'Apresentamos com entusiasmo nossa torta Banof vegana, uma verdadeira tentação para os amantes de sobremesas. Essa maravilha culinária combina uma base crocante de biscoito vegano, um creme de caramelo de banana suave e uma camada generosa de chantilly vegano. Cada mordida é uma explosão de sabores decadentes, com a doçura das bananas maduras equilibrando perfeitamente o caramelo sedoso e o saboroso chantilly. Nossa torta Banof vegana é uma opção irresistível para encerrar uma refeição perfeita e satisfazer sua vontade de sobremesa de forma indulgente e livre de ingredientes de origem animal.',
    href: '#',
    imageSrc: '/images/pratos/torta_banof.jpeg',
    imageAlt: "Front of men's Basic Tee in black.",
    price: '$35',
    color: 'Black',
  }
]

const id = Astro.url.searchParams.get('id')! || '1';
console.log(11, id)
---
<Layout title="Welcome to Astro.">
    <main>
        <div style="height: 500px; background-color: rgba(0,0,255,.1) shadow">
            <img src="/images/header-1.jpg" style="width: 100%; height: 500px; object-fit: cover; _object-position: 10% 10%;"  alt=""/>
        </div>

        <section class="pt-0 products _section-padding">
            <div class="container">
                <div class="row">
                    <Pratos sessiontitle="Menu" items={pratos} mainid={id} />
                </div>
            </div>
        </section>

    </main>
</Layout>