---
export interface Props {
	title: string;
}
const path = Astro.url.pathname.split('/')[1];
console.log(path);

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>{title}</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="css/slick.css"/>

        <link href="css/tooplate-little-fashion.css" rel="stylesheet">
		<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
		<style>
			h1 {
				font-family: 'Crimson Pro', serif;
				font-size: 48px;
			}
			.h2 {
				font-family: 'Crimson Pro', serif;
				font-size: 10px;
			}

			.tipo1 {
				font-family: Georgia, serif !important;
				font-size: 30px !important;
			}
		</style>
		<!--

		Tooplate 2127 Little Fashion

		https://www.tooplate.com/view/2127-little-fashion

		-->
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- <a class="navbar-brand" href="index.html">
					<strong><span>Confraria</span> Vegana</strong>
				</a> -->
				<!-- <a class="navbar-brand" href="/" style="margin-top: -17px; margin-bottom: -17px; margin-left: -25px;"> -->
					<img src="/images/logo.jpg" style="width:200px">
				<!-- </a> -->
				<div class="d-lg-none">
					<!-- <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
					<a href="product-detail.html" class="bi-bag custom-icon"></a> -->
				</div>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class={`nav-link ${path=="" ? "active" : ""}`} href="/">Home</a>
						</li>

						<li class="nav-item">
							<a class={`nav-link ${path=="about" ? "active" : ""}`} href="about">Sobre nós</a>
						</li>

						<li class="nav-item">
							<a class={`nav-link ${path=="eventos" ? "active" : ""}`} href="eventos">Eventos</a>
						</li>

						<li class="nav-item">
							<a class={`nav-link ${path=="pratos" ? "active" : ""}`} href="atrativos">Atrativos</a>
						</li>

						<li class="nav-item">
							<a class={`nav-link ${path=="pratos" ? "active" : ""}`} href="hospedagem">Hospedagem</a>
						</li>

						<li class="nav-item">
							<a class={`nav-link ${path=="contact" ? "active" : ""}`} href="contact">Contato</a>
						</li>
					</ul>

					<!-- <div class="d-none d-lg-block">
						<a href="sign-in.html" class="bi-person custom-icon me-3"></a>

						<a href="product-detail.html" class="bi-bag custom-icon"></a>
					</div> -->
				</div>
			</div>
		</nav>
		<slot />
		<footer class="site-footer">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-10 me-auto mb-4">
						<!-- <a href="/"><img src="images/logo.png" class="p-0 m-0" style="width: 90px; "/> -->
						<p class="copyright-text text-muted mt-lg-4 mb-4 mb-lg-0">Copyright © 2023 <strong>Nova Gokula</strong></p>
						<br>
						<p class="copyright-text">Designed by <a href="https://www.magaweb.com.br/" target="_blank">Magaweb</a></p>
					</div>

					<div class="col-lg-5 col-8">
						<h5 class="text-white mb-3">Sitemap</h5>

						<ul class="footer-menu d-flex flex-wrap">
							<li class="footer-menu-item"><a href="about" class="footer-menu-link">Sobre nós</a></li>
							<li class="footer-menu-item"><a href="pratos" class="footer-menu-link">Eventos</a></li>

							<li class="footer-menu-item"><a href="eventos" class="footer-menu-link">Atrativos</a></li>

							<li class="footer-menu-item"><a href="pratos" class="footer-menu-link">Hospedagem</a></li>
							<li class="footer-menu-item"><a href="contact" class="footer-menu-link">Contato</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-4">
						<h5 class="text-white mb-3">Social</h5>

						<ul class="social-icon">

							<li><a href="#" class="social-icon-link bi-youtube"></a></li>

							<li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

							<li><a href="#" class="social-icon-link bi-instagram"></a></li>

							<li><a href="#" class="social-icon-link bi-skype"></a></li>
						</ul>
					</div>

				</div>
			</div>
		</footer>
		<!-- JAVASCRIPT FILES -->
		<script src="/js/jquery.min.js" is:inline></script>
		<script src="/js/bootstrap.bundle.min.js" is:inline></script>
		<script src="/js/Headroom.js" is:inline></script>
		<script src="/js/jQuery.headroom.js" is:inline></script>
		<script src="/js/slick.min.js" is:inline></script>
		<script src="/js/custom.js" is:inline></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: 'Crimson Pro', serif;
		/* background-color: #F6F6F6; */
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
